html, body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
   overflow-x: hidden;
}

ul {
   list-style: none;
}

a, btn {
   text-decoration: none;
   cursor: pointer;
   z-index: 5;
}

.wrapper {
   display: block;
   background: rgb(255,249,242);
   background: linear-gradient(90deg, rgba(255,249,242,1) 63.5%, rgba(253,184,39,1) 63.5%);
   background-position: center;
   background-size: cover;
   width: 100vw;
   z-index: 1;
   
}

@media (max-width: 1921px) {
   .wrapper {
      display: block;
      background: rgb(255,249,242);
      background: linear-gradient(90deg, rgba(255,249,242,1) 68%, rgba(253,184,39,1) 68%);
      background-position: center;
      background-size: cover;
      width: 100vw;
      z-index: 1;
      
   }
}

.container {
   max-width: 1220px;
   padding-left: 10px;
   padding-right: 10px;
   margin: 0 auto;
   
}

.header {
   padding-top: 62px;
   padding-left: 10px;
   max-width: 1220px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   margin-bottom: 150px;
   z-index: 5;
}



.home {
   display: flex;
   font-size: 18px;
   line-height: 21px; 
   font-weight: 500;
   color: rgba(35, 53, 6, 1); 
   z-index: 5; 
}

.home a {
   color: rgba(35, 53, 6, 1);  
}

.home a:hover {
   content: "";
   text-decoration: underline;
}

.home__items {
   margin-left: 46px;
}

.contact {
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   line-height: 21px; 
   font-weight: 500;
   z-index: 5;
}

.contact a {
   margin-right: 10px;
   padding: 15px;
   background-color: #fff;
   border-radius: 15px;
}

.contact a:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   text-decoration: underline;
   box-shadow: 1px 1px 1px #FDB827;
}

.contact__item a {
   border-radius: 22px;
   color: #FF800B;
}

.contact__items-cart a {
   padding: 22px 15px 10px 15px;
}

.contact__items-lens a{
   padding: 20px 15px 13px 15px ;
}

.btn-box {
   display: none;
}

.main {
   position: relative;
   display: flex;
   max-width: 1220px;
   padding-left: 10px;
   margin: left;
}

.container-main {
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
}

h1 {
   font-size: 84px;
   line-height: 101px;
   font-weight: 900;
   color: rgba(35, 53, 6, 1);
   max-width: 591px;
   margin-bottom: 60px;
   z-index: 2;
}

.title span {
   color: rgba(253, 184, 39, 1);
}

.title-text {
   font-size: 18px;
   font-weight: 500;
   line-height: 31px;
   max-width: 456px;
   color: rgba(35, 53, 6, 0.65);
   margin-bottom: 50px;
}

.order-groupe:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   box-shadow: 1px 1px 1px #FDB827;
}

.order {
   display: block;
   color: rgba(255, 255, 255, 1);
   font-weight: 500;
   line-height: 25px;
   padding: 22px 40px;
   background-color: #FDB827;
   border-radius: 33px;
   max-width: 120px;
   margin-bottom: 201px;
}

.order-btn__group {
   display: flex;
   align-items: center;
}

.order:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   text-decoration: underline;
}

.order:after{
   content: "";
   background: url(../images/arrow-order.svg);
   background-repeat: no-repeat;
   background-position: 15px 5px;
   height: 18px;
   display: inline-block;
   width: 22px;
   font-size: 18px;
   line-height: 25px;
   padding: 0 0 0 15px;
}

.heare-image {
   position: absolute;
   height: 110%;
   top: -132px;
   left: 600px;
   z-index: 0;
}

.features {
   margin: 0 auto;
}

.feature-title {
   font-size: 70px;
   line-height: 82px;
   color: rgba(35, 53, 6, 1);
   margin-bottom: 85px;
}
.card-box {
   max-width: 1220px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-left: -30px;
   margin-bottom: 70px;
   margin: 0 auto; 

}
.fruite-card {
   max-width: 270px;
   padding-left: 30px;
   
}
.card-item {
   max-width: 270px;
   margin-bottom: 25px;


}
.description-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   font-weight: 600;
   margin-bottom: 30px;
}
.description {
   color: rgba(2, 40, 63, 1);
   font-size: 20px;
   line-height: 23px;
}

.price-box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
}
.prise {
   color: rgba(2, 40, 63, 1);
   font-size: 18px;
   line-height: 21px;
   font-weight: 600;
   
}
.netto {

   color: rgba(2, 40, 63, 0.81);
   font-size: 12px;
   line-height: 14px;
   font-weight: 500;
}
.buy {
   display: block;
   color: rgba(2, 40, 63, 0.81);;
   font-size: 18px;
   line-height: 21px;
   font-weight: 500;
   padding: 15px 37px;
   background-color: #FDB827;
   border-radius: 8px;
}

.buy:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   color: #FDB827;
}

.how-it__works {
   background-color: #FFF9F2;
}
.hiw-box {
   padding-top: 56px;
   max-width: 1220px;
   margin: 0 auto;
   display: flex
}

.hiw-desription__area {
   margin-left: 140px;
   
}

.hiw-cards-block {
   display: flex;
   flex-direction: column;
}

.hiw-title {
   color: #02283F;
   margin-top: 20px;
   font-size: 70px;
   font-weight: 700;
   line-height: 82px;
   margin-bottom: 40px;
}

.hiw-description {
   color: rgba(42, 53, 71, 0.75);
   font-weight: 400;
   font-size: 18px;
   line-height: 170%;
}

.hiw-items__box {
   display: flex
}

.hiw-text__block {
   display: flex;
   flex-direction: column;
   margin-left: 32px;
}

.title__description {
   color: #02283F;
   font-size: 20px;
   line-height: 25px;
   padding-bottom: 5px;
   margin: 0;
}

.hiw-description {
   margin-bottom: 60px;
}

.hiw-items__box {
   margin-bottom: 40px;
}

.option {
   width: 62px;
   height: 62px;
}

.hiw-text {
   color: rgba(2, 40, 63, 0.67);
   font-weight: 400;
   font-size: 18px;
   line-height: 170%;
   margin: 0;
}

.cirkel-left {
   position: absolute;
   left: -20px;
}


.colage {
   max-width: 536px;
   object-fit: contain;
}

.personal {
   display: none;
}

.lady, .confirm, .shipping, .choise {
   display: none;
}

.about-container {
   background-color: #fff;
}
.about-container__content {
   position: relative;
   display: flex;
   max-width: 1220px;
   margin: 0 auto;
}
.about-content__box {
   max-width: 485px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: left;
   margin-top: 250px;
   margin-bottom: 40px;
}
.about-us {
   color: #02283F;
   font-size: 70px;
   font-weight: 700;
   line-height: 82px;
   margin-bottom: 38px;
}
.about-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 170%;
   color: #5F6672;
   margin-bottom: 50px;

}
.about-read__more {
   display: block;
   color: rgba(255, 255, 255, 1);
   font-weight: 500;
   line-height: 25px;
   padding: 22px 40px;
   background-color: #FDB827;
   border-radius: 33px;
   max-width: 120px;
   text-align: center;
   margin-bottom: 256px;
}

.about-read__more:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   text-decoration: underline;
}
.assorti {
   position: absolute;
   left: 500px;
   margin-top: 114px;
   margin-left: 126px;
   z-index: 1;

}

.cirkel-right {
   position: absolute;
   top: 150px;
   left: 870px;
   z-index: 0;
}

.review-container {
   background-color: #FFF9F2;
   height: 750px;
}
.riview-title {
   margin-top: 142px;
   margin-bottom: 60px;
   color: #02283F;
   text-align: center;
   font-size: 70px;
   line-height: 82px;
   font-weight: 700;
}
.slider-box {
   position: relative;
   max-width: 886px;
   margin: 0 auto ;
   padding: 45px 30px;
   background-color: #fff;
   box-shadow: 0px 17px 121px rgba(0, 0, 0, 0.06), 0px 2.12866px 15.1511px rgba(0, 0, 0, 0.03);
   border-radius: 64px;
   
}
.slider-text {
   color: #02283F;
   margin-top: 89px;
   margin-left: 111px;
   margin-right: 111px;
   margin-bottom: 40px;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.7;
   font-weight: 400;
}
.author-area {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   gap: 25px;
   align-items: center;
   margin-bottom: 60px;
}
.author {
   
   width: 100px;
   height: 100px;
}
.name {
   display: block;
   font-size: 18px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0.04em;
   color: rgba(2, 40, 63, 0.79);
}
.costumer {
   
   font-size: 18px;
   line-height: 36px;
   letter-spacing: 0.04em;
   color: rgba(2, 40, 63, 0.64);
}

.arrow-left {
   background-image: url(../images/arrow-left.svg);
   width: 61px;
   height: 61px;
   position: absolute;
   top: 200px;
   left: -30px;
   z-index: 15;
   transition: ease-in-out .3s;
}

.arrow-left:hover {
   background-image: url(../images/hover-left.svg);
}
.arrow-right {
   background-image: url(../images/arrow-right.svg);
   position: absolute;
   width: 61px;
   height: 61px;
   top: 200px;
   left: 915px;
   z-index: 15;
   transition: ease-in-out .3s;
}

.arrow-right:hover {
   background-image: url(../images/hover-right.svg);
}  

.footer {
   background-color: #fff;
}

.footer a:hover {
   content: "";
   text-decoration: underline;
   font-weight: 600;
}
.footer-container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
   padding-top: 150px;
   padding-bottom: 100px;
}
.logo-block {
   max-width: 290px;
   
}

.logo {
   color: #243165;
   font-weight: 700;
   font-size: 31px;
   line-height: 46px;
   margin-bottom: 47px;
}

.footer-text {
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   letter-spacing: 0.03em;
   color: rgba(55, 84, 101, 0.8);
   margin-bottom: 43px;
}

.social-media__box {
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 25px  ;
}

.comunity-box {
   color: #243165;
   font-size: 20px;
   font-weight: 700;
   line-height: 30px;
}
.for-agents {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   
}
.for-sellers {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   
}
.for-buyers {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   
}
.serch-home {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   
}
.about-footer__box {
   color: #243165;
   font-size: 20px;
   font-weight: 700;
   line-height: 30px;
}
.story {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
}
.careers {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
}
.meet {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
}

.contact-title {
   color: #243165;
   font-size: 20px;
   font-weight: 700;
   line-height: 30px;
}
.adress {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
}
.simply {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
}
.roots {
   display: block;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
}
.footer-block {
   border: 1px solid rgba(196, 196, 196, 1);
   background-color: rgba(196, 196, 196, 1);
   max-width: 1170px;
   margin: 0 auto;
}
.rights {
   color: #375465;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   margin-top: 25px;
   margin-bottom: 45px;
   text-align: center;
}

/*---------------------min 1440 px------------------------------------------------*/

@media (max-width: 1440.98px) {
   .wrapper{
      background: linear-gradient(90deg, rgba(255,249,242,1) 73.5%, rgba(253,184,39,1) 73.5%);
   }

   .header {
      padding-top: 45px;
      padding-right: 10px;
      margin-bottom: 100px;
   }

   
   .container {
      max-width: 1220px;
      padding-right:10px;
   }

   h1 {
      margin-bottom: 50px;
   }

   .order {
      margin-bottom: 50px;
   }
      
   .heare-image {
      height: 110%;
      top: -85px;
      left: 565px;
   }

   .cirkel-left {
      position: absolute;
      left: -260px;
   }

   .colage {
      display: block;
      z-index: 1;
   }

   .hiw-desription__area {
   margin-left: 90px;
   }

   .assorti {
      position: absolute;
      left: 450px;
      margin-top: 114px;
      margin-left: 126px;
      z-index: 1;
   }

   .cirkel-right {
      display: none;
   }

   .cirkel-left {
      display: none;
   }


}

@media (max-width: 1300px) {
   .cirkel-left {
      display: none;
   }
   .colage {
      display: none;
      
   }
   .personal {
      display: block;
      max-width: 100%;
   }
}

@media (max-width: 1179px) {
   .container {
      margin: 0 30px 0 30px;
      padding-left: 30px;
      padding-right: 30px;
   }
}
/*--------------------------------max-width 1024px----------------------------------*/


@media (max-width: 1024.98px) {
   .wrapper{
      background: linear-gradient(90deg, rgba(255,249,242,1) 68%, rgba(253,184,39,1) 68%);
   }

   .container {
      max-width: 90%;
      padding: 0 10px;
      margin: 0 auto;
   }

   .header {
      padding-top: 35px;
      margin-bottom: 80px;
   }

   .home {
      font-size: 18px;
      line-height: 14px; 
   }

   .home__items {
      margin-left: 30px;
   }
   
   .contact {
      align-items: center;
      font-size: 18px;
      line-height: 14px; 
   }
   
   
   .contact__items-cart a {
      padding: 22px 15px 10px 12px;
   }
   
   h1 {
      font-size: 74px;
      line-height: 98px;
      max-width: 495px;
      z-index: 2;
      text-shadow: 0 0 4px#fff, 0 0 4px#fff;
   }
   
   .title-text {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 40px;
      z-index: 2;
      text-shadow: 0 0 4px#fff, 0 0 4px#fff;
   }
   
      
   .order:after{
      content: "";
      background-position: 10px 4px;
      height: 16px;
   }
   
   .heare-image {
      height: 110%;
      top: -70px;
      left: 300px;
      
   }

   .feature-title {
      max-width: 900px;
      margin-bottom: 85px;
      font-size: 65px;
      font-weight: 900;
   }

   .card-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
   }

   .fruite-card {
      max-width: 270px;
      
      
   }

   .description {
      font-size: 16px;
      line-height: 20px;
   }

   .hiw-box {
      max-width: 90%;
      padding: 80px 10px ;
      margin: 0 auto;
   }

   .hiw-box {
      padding-top: 80px;
      z-index: 1;
   }

   .colage {
      display: none; 
      
   }

   .hiw-desription__area {
      margin-bottom: 50px;
      margin-left: 60px;
   }

   .personal {
      max-width: 536px;
      object-fit: contain;
   }

   .cirkel-left {
      z-index: 0;
   }

   .about-content__box {
      max-width: 400px;
      z-index: 5;
      margin-top: 220px;
   }

   .about-container__content {
      position: relative;
      display: flex;
      max-width: 90%;
      margin: 0 auto;
      
      
   }

   .assorti {
      position: absolute;
      left: 100px;
      margin-top: 114px;
      margin-left: 146px;
      z-index: 0;
      filter: blur(5px);
   }

   .about-read__more {
      font-size: 18px;
   }

   .about-us {
      text-shadow: 2px 2px 2px  #fff;
   }

   .about-text{
      color: #02283F;
      text-shadow: 1px 1px 1px  #fff;
      font-weight: 700;
   }

   

   
}


/*----------------------max-width 768px------------------*/
@media (max-width: 768.98px) {
   .wrapper{
      background: linear-gradient(rgba(255,249,242,0.6), rgba(255,249,242,0.6)), url(../images/header-image.png);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: 60% 10%;
      z-index: 1;
      overflow-x: hidden;
   }
   
   .container {
      justify-content: center;
      align-items: center;
      padding: 0 15px;
   }

   .header {
      padding-top: 20px;
      margin-bottom: 20px;
      z-index: 5;
   }
   
   .contact {
      font-size: 18px;
      line-height: 14px; 
   }
   
   .contact a {
      margin-right: 14px;
      padding: 16px;
      box-shadow: 1px 1px 1px #233506;
   }
   
   .contact__items-cart a {
      padding: 22px 15px 11px 15px;
   }
   
   .contact__items-lens a{
      padding: 20px 15px 13px 15px ;
   }
   
   .btn-box {
      display: block;
      margin-right: 20px;
   }
   .btn {
      display: block;
      width: 50px;
      height: 50px;
      background-color: #FDB827;
      border-radius: 15px; 
      box-shadow: 1px 1px 1px #233506;
      position: relative;
   }

   .btn:hover {
      content: "";
      background-color: rgb(98, 97, 82);
      box-shadow: 1px 1px 1px #FDB827;
   }

   .btn-span,
   .btn-span::before,
   .btn-span::after {
      position: absolute;
      top: 50%; 
      margin-top: -1px;
      left: 34%; 
      margin-left: -10px;
      width: 30px;
      height: 2px; 
      background-color: #fff;
      z-index: 6;
   }

   .btn:hover {
      content: "";
      background-color: rgb(98, 97, 82);
      box-shadow: 1px 1px 1px #FDB827;
   }

   .btn-span::before {
      content: "";
      transform: translateY(8px);
      
   }

   .btn-span::after {
      content: "";
      transform: translateY(-8px);
   }

   .home {
      display: none;
   }

   .main {
      display: block;
      position: relative;
   }

   .container-main {
      display: block;
      
   
   }

   h1 {
      font-size: 65px;
      text-align: center;
      color: rgb(35, 53, 6);
      text-align: left;
      margin-bottom: 25px; 
      max-width: 96vw;  
      margin: 0 auto;
      line-height: 68px;
      text-shadow: 1px 1px 1px  #233506;
   }

   .title-text {
      display: block;
      font-size: 18px;
      font-weight: 800;
      line-height: 26px;
      color: #233506;
      margin-bottom: 45px;
      padding-right: 16px;
   }

   .order {
      color: rgba(255, 255, 255, 1);
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      padding: 15px  15px;
      background-color: #FDB827;
      border-radius: 33px;
      text-align: center;
      margin-bottom: 50px;
      box-shadow: 1px 1px 1px #233506;
   }

   .order:hover {
      content: "";
      background-color: rgb(98, 97, 82);
      box-shadow: 1px 1px 1px #FDB827;
      text-decoration: underline;
   }

   .order::after {
      content: "";
      display: none;
   }
   .heare-image {
      display: none;
   }

   .feature-container {
      padding-left: 10px;
      padding-right: 5px;
      margin: 0 auto;
      margin-top: 150px;  
   }

   .feature-title {
      font-size: 50px;
      font-weight: 900;
      line-height: 82px;
      color: rgb(35, 53, 6);
      margin-bottom: 45px;
      text-align: center;
   }

   .card-box  {
      justify-content: center;
      margin-bottom: 30px;
   }

   .hiw-box {
      justify-content: center;
      align-items: center;
      padding: 0 15px;
   }

   .hiw-desription {
      font-size: 16px;
      
   }

   .about-content__box {
      display: block;
      max-width: 100%;
      text-align: center;
      
   }

   .hiw-text {
      font-size: 13px;
      font-weight: 800;
   }

   .assorti {
      left: -125px;
      opacity: .6;

   }

   .about-read__more {
      box-shadow: 1px 1px 2px #fff;
   }
}

/*--------------------   max-width 481px-----------------*/

@media (max-width: 480.98px) {
   
   .wrapper{
      display: block;
      background-size: 120%;
      background-position: cover;
      width: 100vw;
      
   }

   .container {
      max-width: 100vw;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
   }

   .header {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      z-index: 5;
   }

   .btn {
      position: relative;
      left: 25px;
      width: 35px;
      height: 35px;
      border-radius: 10px; 
      box-shadow: 1px 1px 1px #233506;
   }

   .btn-span,
   .btn-span::before,
   .btn-span::after {
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -10px;
      width: 20px;
      height: 2px; 
      background-color: #fff;
   }

   .btn-span::before {
      content: "";
      transform: translateY(6px);
      
   }

   .btn-span::after {
      content: "";
      transform: translateY(-6px);
   }
   
   .home {
      display: none;
   }

   .contact {
      display: none;
   }

   h1 {
      font-size: 40px;
      margin-bottom: 25px;
      padding-right: 10px;   
      line-height: 58px;
      text-shadow: 2px 2px 1px  #fff;
   }

   .title-text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 45px;
   }

   .order {
      padding: 5px  5px;
      margin-bottom: 40px;
   }

   .feature-title {

      padding: auto;
      font-size: 38px;
      font-weight: 900;
      line-height: 45px;
      color: rgb(35, 53, 6);
      margin-bottom: 45px;
      text-align: center;
   }

   .fruite-card {
      padding: 0;
   }

   .hiw-content {
      margin: 0 auto;
      
   }

   .hiw-title {
      padding-top: 30px;
      font-size: 40px;
      margin-bottom: 25px;
      padding-right: 10px;   
      line-height: 58px;
      font-weight: 900;
      
   }

   .fruite-card {
      margin: 0 auto;
   }

   .personal {
      display: none;
   }

   .lady {
      display: block;
      max-width: 85%;
   }

   .choise {
      display: block;
      max-width: 85%;
   }

   .hiw-text {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 20px;
   }

   .hiw-description {
      font-weight: 600;
   }

   .hiw-desription__area {
      margin-left: 0;
   }

   .hiw-cards-block {
      display: block;
   }

   .hiv-items__box {
      display: block;
      padding-bottom: 25px;
   }

   .confirm {
      display: block;
      max-width: 85%;
   }

   .shipping {
      display: block;
      max-width: 85%;
   }

   .about-content__box {
      margin-top: 50px;
   }

   .about-us {
      font-size: 40px;
      text-align: center;
   }

   .about-text {
      
      font-size: 16px;
   }

   .assorti {
      width: 500px;
      top: -90px;
      left: -200px;
   }

   .about-read__more {
      position: relative;
      left: 100px;
      font-size: 14px;
      padding: 5px  5px;
      margin-bottom: 60px;
      }

   .buy {
      font-size: 14px;
      padding: 10px  10px;

   }

   .order {
      position: relative;
      left: 100px;
   }

   .option {
      width:50px;
      height: 50px;
   }

}








